<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :client, "Cliente" %>
    <%= form.text_field :client, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category, "Categoria"  %>
    <%= form.text_field :category, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descripción" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price , "Precio"%>
    <%= form.text_field :price, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Registrar", class:"btn btn-primary" %>
  </div>
<% end %>
