<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @service.client %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atras', services_path %>
