<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @factura.user %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @factura.client %>
</p>

<p>
  <strong>Products:</strong>
  <%= @factura.product %>
</p>

<p>
  <strong>Services:</strong>
  <%= @factura.service %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>Price:</strong>
  <%= @factura.price %>
</p>

<p>
  <strong>Details:</strong>
  <%= @factura.details %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
